#logo {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    text-shadow: 2px 0 #2697e2, -2px 0 #2697e2, 0 2px #2697e2, 0 -2px #2697e2,
               1px 2px #2697e2, -1px -1px #2697e2, 1px -1px #2697e2, -1px 1px #2697e2;
    text-align: center;
    padding: 10px;
    background-size: contain;
    margin-top: -5px;
}

body {
    background-image: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

input {
    background-color: rgb(198, 188, 188);
    font-weight: 600;
    margin-left: 44%;
    padding-top: -50px;
    font-size: clamp(8px, 5vw, 1rem);
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 45%;
    display: flex;
    gap: 20px;
}

.button {
    width: 100px;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}